{
  "scripts": {
    "dev": "vite",
    "build": "vite build",
    "preview": "vite preview",
    "start": "vite preview",
    "railway:build": "npm install --legacy-peer-deps && npm run build"
  },
  "legacy-peer-deps": true
}